.searchBarIcon {
  background-color: #676767;
  padding: 0 10px;
}

.searchIcon, .closeIconm, .searchBarIcon  {
  color: white;
  /* visibility: visible !important; */
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
  border: 0;
}