.flexRowContent--home__section--one,
.flexRowContent--home__categories {
    max-width: 1280px;
    margin: 0 auto 30px;
}

.flexRowContent--container__list--one,
.flexRowContent--container__list--two {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.flexColChild--list__one--item,
.flexColChild--list__two--item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flexRowContent--footer__section--1 {
    background: #f7f7f7;
    border: 1px solid #ededed;
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.flexRowContent--section__4--1-2-logos {
    width: 307px;
    display: flex;
    justify-content: space-around;
}

.flexColChild--section__4--1-1 {
    display: flex;
    align-items: center;
}

.flexColChild--footer__section--4-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flexRowContent--footer__section--4 {
    align-items: center;
    display: flex;
    height: 58px;
    justify-content: space-between;
}

.flexCol--footer__section--2-1 {
    color: #414141;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    min-width: 430px !important;
}

.flexCol--section__2--2-1 {
    margin-left: 10px;
}

.flexColChild--section__2--2-1 {
    height: 41px !important;
    width: 397px !important;
}

.flexRowContent--footer__section--2 {
    max-width: 97%;
    margin: auto;
}

.flexCol--footer__section--2-2 {
    padding: 0 24px;
    min-width: 430px !important;
}

.flexColChild--footer__section--2-2 {
    height: auto !important;
}

.flexRowContent--3-col__1--row {
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgb(60 60 60 / 16%);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    pointer-events: none;
}

.flexCol--footer__section--2-3 {
    min-width: 430px !important;
    display: flex;
    align-items: center;
}

.flexColChild--footer__section--2-3 {
    width: 100% !important;
    padding-left: 102px !important;
}

.flexCol--3__col--2 {
    min-width: 320px;
}

.flexRowContent--section__1,
.flexRowContent--section__2,
.flexRowContent--section__3,
.flexRowContent--section__4,
.flexRowContent--section__5 {
    display: flex;
    justify-content: center;
}

.flexColChild--container__filter--department {
    height: auto !important;
}

.flexColChild--footer__section--2-1 :global(.vtex-rich-text-0-x-link) {
    color: black !important;
}

.flexRowContent--footer__section--3 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
}

.flexRowContent--help__center-trigger :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--exito__com-trigger :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--our__company-trigger :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--community-trigger :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--legal__information-trigger :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--help__center-trigger,
.flexRowContent--exito__com-trigger,
.flexRowContent--our__company-trigger,
.flexRowContent--community-trigger,
.flexRowContent--legal__information-trigger {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
}

.flexRow--s3-disclosure__trigger-2 {
    background-color: #f7f7f7;
    color: #4d5766;
    border: 1px solid #ededed;
    border-bottom: transparent;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: auto;
    justify-content: center;
    min-height: 67px;
    padding: 0 20px;
    width: 100%;
    align-items: center;
}

.flexRowContent--s3-disclosure__content {
    background-color: #f7f7f7;
    color: #4d5766;
    padding: 0 20px;
    width: 100%;
}

.flexRowContent--s3-disclosure__content :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 15px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 30px;
    max-height: 500px;
    transition: max-height .25s ease-in;
}

.flexColChild--help__center-content,
.flexColChild--exito__com-content,
.flexColChild--our__company-content,
.flexColChild--community-content,
.flexColChild--legal__information-content {
    height: auto !important;
}

.flexRowContent--s3-disclosure__trigger-1 {
    display: flex;
    justify-content: center;
    max-width: 172px;
    margin: auto;
    margin: auto;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    z-index: 2;
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 20px;
    color: #000;
    transform: translateY(0px);
}

.flexRowContent--s3-disclosure__trigger-1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--header__main--order :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--header__main--order {
    display: flex;
    align-items: center;
}

.flexRow--home__section-three {
    width: 95%;
    margin: auto;
}

.flexRowContent--home__section-fourth :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home__section-five :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--home__section-fourth,
.flexRowContent--home__section-five {
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}

.flexRowContent--home__section-fourth-1 {
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}