.heading-level-4 {
    margin: 0;
}

.paragraph--retail__ecommerce,
.paragraph--400__productos,
.paragraph--compras__seguras,
.paragraph--acumula__puntos,
.paragraph--pago__linea {
    color: var(--gray-color);
    font-size: 14px;
    line-height: normal;
}

.paragraph--visita,
.paragraph--derechos {
    color: var(--dark-gray-color);
    font-size: 12px;
    margin: 0;
}

.paragraph--visita {
    margin-left: 20px;
}

.paragraph--derechos {
    margin-right: 20px;
}

.wrapper--contactanos {
    width: 100% !important;
}

.paragraph--contactanos {
    color: var(--primary-text-color);
    font-size: 15px;
    font-weight: 400;
    height: 18px;
}

:global(.vtex-rich-text-0-x-link) {
    color: var(--dark-gray-color) !important;
    text-decoration: none;
}

.paragraph--ventas__telefonicas--numero,
.paragraph--ventas__whatsapp--numero,
.paragraph--servicio__whatsapp--numero,
.paragraph--linea__nacional--numero,
.paragraph--medellin__numero,
.paragraph--1-col__6--2-text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    text-decoration: underline !important;
}

.paragraph--ventas__telefonicas,
.paragraph--ventas__whatsapp,
.paragraph--servicio__whatsapp,
.paragraph--linea__nacional,
.paragraph--medellin {
    color: var(--dark-gray-color);
    font-size: 13px;
    font-weight: 500;
    height: 15px;
}

.paragraph--resto__ciudades {
    color: var(--dark-gray-color);
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    height: 15px;
}

.paragraph--nuestro__newsletter {
    color: var(--primary-text-color);
    font-size: 15px;
    height: 17px;
}

.wrapper--nuestro__newsletter {
    width: 100% !important;
}

.paragraph--ofertas__newsletter {
    color: var(--primary-text-color);
    font-size: 13px;
    height: 15px;
}

.paragraph--descargar {
    color: var(--primary-text-color);
    font-size: 15px;
    height: 17px;
}

.paragraph--app {
    border-left: 2px solid #d3d3d3;
    color: var(--primary-text-color);
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding-left: 15px;
    text-align: center;
}

.paragraph--app__mobile {
    border-right: 2px solid #d3d3d3;
    color: var(--primary-text-color);
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding-right: 15px;
    text-align: center;
}

.paragraph--siguenos__en {
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 600;
    height: 14px;
}

.flexCol--qr__networks {
    padding-left: 102px !important;
}

.wrapper--mas__informacion {
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
}

.paragraph--disclosure__links {
    color: var(--gray-color);
    font-size: 13px;
    margin: 5px 0;
}

.paragraph--disclosure__links:hover {
    text-decoration: underline;
}

.paragraph--trigger__centro--ayuda,
.paragraph--trigger__exito--com,
.paragraph--trigger__nuestra--compania,
.paragraph--trigger__comunidad,
.paragraph--trigger__informacion--legal {
    margin-right: 15px;
    line-height: 15px !important;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 13px;
}

.paragraph--receive__order {
    margin: 0 5px;
    color: var(--primary-text-color);
    font-size: 14px;
    padding-left: 3px;
    font-weight: 500;
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -.2px;
    font-family: Poppins, Helvetica, sans-serif !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.paragraph--hsection__six--title,
.paragraph--hsection__six-1-title,
.paragraph--hsection__nine-title,
.paragraph--hsection__ten-title {
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 5px;
}

.paragraph--hsection__eight-title {
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 5px;
}

.paragraph--visita__mobile {
    color: var(--dark-gray-color);
    font-size: 12px;
    margin: 0;
}

.paragraph--retail__ecommerce-mobile,
.paragraph--400__productos-mobile,
.paragraph--compras__seguras-mobile,
.paragraph--acumula__puntos-mobile,
.paragraph--pago__linea-mobile {
    font-size: 10px;
    text-align: center;
    color: var(--dark-gray-color);
}

.wrapper--custom__grid--2,
.wrapper--custom__grid--3,
.wrapper--custom__grid--4,
.wrapper--custom__grid--5 {
    color: var(--white-color);
}

.paragraph--custom__components {
    margin: 0;
}

.wrapper--go__checkout {
    width: 100%;
}

.paragraph--go__checkout {
    border: 1px solid var(--primary-color-button) !important;
    background-color: #fff4c3 !important;
    border-radius: 16px;
    margin: 0;
    margin-top: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.paragraph--go__checkout:hover {
    background-color: #fcdf5f !important;
    border: 1px solid #e26800 !important;
}

.link--go__checkout {
    color: var(--primary-color-button) !important;
}

.link--custom__components:hover {
    text-decoration: underline;
    color: var(--primary-text-color);
}

.container--retail__ecommerce-mobile,
.container--400__productos-mobile,
.container--compras__seguras-mobile,
.container--acumula__puntos-mobile,
.container--pago__linea-mobile {
    display: flex;
    justify-content: center;
}

.wrapper--about-content,
.wrapper--about-title {
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper--checkbox {
    color: #8e8e8e;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .00938em;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

.wrapper--checkbox :global(.vtex-rich-text-0-x-link) {
    color: var(--primary-text-color) !important;
    text-decoration: underline;
}