.heading-level-4 {
    margin: 0;
}

.paragraph--retail__ecommerce,
.paragraph--400__productos,
.paragraph--compras__seguras,
.paragraph--acumula__puntos,
.paragraph--pago__linea {
    color: #373737;
    font-size: 14px;
    line-height: normal;
}

.paragraph--visita,
.paragraph--derechos {
    color: #4d5766;
    font-size: 12px;
    /* margin: auto 50px; */
    margin: 0;
}

.wrapper--contactanos {
    width: 100% !important;
}

.paragraph--contactanos {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    height: 18px;
}

:global(.vtex-rich-text-0-x-link) {
    color: #636e74 !important;
    text-decoration: none;
}

.paragraph--ventas__telefonicas--numero,
.paragraph--ventas__whatsapp--numero,
.paragraph--servicio__whatsapp--numero,
.paragraph--linea__nacional--numero,
.paragraph--medellin__numero,
.paragraph--1-col__6--2-text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    text-decoration: underline !important;
}

.paragraph--ventas__telefonicas,
.paragraph--ventas__whatsapp,
.paragraph--servicio__whatsapp,
.paragraph--linea__nacional,
.paragraph--medellin {
    color: #414141;
    font-size: 13px;
    font-weight: 500;
    height: 15px;
}

.paragraph--resto__ciudades {
    color: #414141;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    height: 15px;
}

.paragraph--nuestro__newsletter {
    color: #222;
    font-size: 15px;
    height: 17px;
}

.wrapper--nuestro__newsletter {
    width: 100% !important;
}

.paragraph--ofertas__newsletter {
    color: #222;
    font-size: 13px;
    height: 15px;
}

.paragraph--descargar {
    color: #222;
    font-size: 15px;
    height: 17px;
}

.paragraph--app {
    border-left: 2px solid #d3d3d3;
    color: #222;
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding-left: 15px;
    text-align: center;
}

.paragraph--app__mobile {
    border-right: 2px solid #d3d3d3;
    color: #222;
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 0 15px;
    padding-right: 15px;
    text-align: center;
}

.paragraph--siguenos__en {
    color: #222;
    font-size: 12px;
    font-weight: 600;
    height: 14px;
}

.flexCol--qr__networks {
    padding-left: 102px !important;
}

.wrapper--mas__informacion {
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
}

.paragraph--disclosure__links {
    color: #636e74;
    font-size: 13px;
    margin: 5px 0;
}

.paragraph--disclosure__links:hover {
    text-decoration: underline;
}

.paragraph--trigger__centro--ayuda,
.paragraph--trigger__exito--com,
.paragraph--trigger__nuestra--compania,
.paragraph--trigger__comunidad,
.paragraph--trigger__informacion--legal {
    margin-right: 15px;
    line-height: 15px !important;
    color: #000;
    font-weight: 700;
    font-size: 13px;
}

.paragraph--receive__order {
    margin: 0 5px;
    color: #222;
    font-size: 14px;
    padding-left: 3px;
    font-weight: 500;
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -.2px;
    font-family: Poppins, Helvetica, sans-serif !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.paragraph--hsection__six--title,
.paragraph--hsection__six-1-title,
.paragraph--hsection__nine-title,
.paragraph--hsection__ten-title {
    color: rgb(119, 119, 119);
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 5px;
}

.paragraph--hsection__eight-title {
    color: rgb(119, 119, 119);
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 5px;
}

.paragraph--visita__mobile {
    color: #4d5766;
    font-size: 12px;
    margin: 0;
}

.paragraph--retail__ecommerce-mobile,
.paragraph--400__productos-mobile,
.paragraph--compras__seguras-mobile,
.paragraph--acumula__puntos-mobile,
.paragraph--pago__linea-mobile {
    font-size: 10px;
    text-align: center;
    color: #373737;
}

.wrapper--custom__grid--2,
.wrapper--custom__grid--3,
.wrapper--custom__grid--4,
.wrapper--custom__grid--5 {
    color: white;
}

.paragraph--custom__components {
    margin: 0;
}