.flexCol--section__one--col-one {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logoContainer--header__desktop--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 35px;
    padding: 0 1rem;
}

.searchBarContainer,
.searchBarInnerContainer--header__desktop--search,
.autoCompleteOuterContainer--header__desktop--search {
    height: 36px;
    padding: 0;
}

.autoCompleteOuterContainer--header__desktop :global(.vtex-input-prefix__group) {
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    height: 36px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
}

.autoCompleteOuterContainer--header__desktop :global(.vtex-styleguide-9-x-input) {
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.autoCompleteOuterContainer--header__desktop :global(.vtex-input__suffix) {
    height: 36px;
    background-color: #676767;
    padding: 0 10px;
}

.autoCompleteOuterContainer--header__desktop :global(.vtex-input-prefix__group) {
    height: 36px !important;
}

.searchBarIcon--header__desktop--search {
    color: white;
}

.logoImage--retail__ecommerce,
.logoImage--400__productos,
.logoImage--compras__seguras,
.logoImage--acumula__puntos,
.logoImage--pago__linea {
    width: 55px;
    height: 33px;
}

.logoContainer--retail__ecommerce,
.logoContainer--400__productos,
.logoContainer--compras__seguras,
.logoContainer--acumula__puntos,
.logoContainer--pago__linea {
    padding: 0;
    max-width: 55px;
    min-width: 55px;
    max-height: 33px;
    margin: auto;
}

.logoImage--carulla,
.logoImage--viva,
.logoImage--superinter,
.logoImage--surtimax {
    height: 30px;
}

.logoContainer--carulla,
.logoContainer--viva,
.logoContainer--superinter,
.logoContainer--surtimax {
    padding: 0;
    max-width: 50px;
    min-width: 50px;
    max-height: 30px;
    margin: auto;
}

.container--newsletter,
.inputGroup--newsletter {
    padding: 0;
}

.imageElement--qr {
    width: 75px;
}

.imageElement--exclamation {
    aspect-ratio: 41/41;
    height: 41px;
    padding-left: 22px;
    width: 41px;
}

.imageElement--hsection__three--image-1-1 {
    gap: 21px;
    margin: 0px auto;
    padding: 20px 0px;
}

/* .imageElement--hsection__ten-images-1 {
    min-width: 566px;
    min-height: 475px;
} */

.searchBarIcon--header__desktop--search {
    padding: 0;
}

.container {
    padding: 0;
}

.logoContainer--retail__ecommerce-mobile,
.logoContainer--400__productos-mobile,
.logoContainer--compras__seguras-mobile,
.logoContainer--pago__linea-mobile,
.logoContainer--acumula__puntos-mobile {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImage--retail__ecommerce-mobile,
.logoImage--400__productos-mobile,
.logoImage--compras__seguras-mobile,
.logoImage--pago__linea-mobile,
.logoImage--acumula__puntos-mobile {
    width: 40px;
    height: 23px;
}

.sizeDesktop {
    min-width: 10px !important;
}

.shareContainer {
    display: flex;
    align-items: center;
}

.shareLabel {
    margin-right: 20px;
}

.shareButtons {
    gap: 30px;
}

.productNameContainer--product__name,
.productBrandContainer--product__brand {
    margin: auto;
    max-width: 97%;
    text-transform: capitalize;
}

.productBrandContainer--product__brand {
    color: #bdb6c4;
    text-transform: uppercase;
}

.price_sellingPriceContainer {
    text-align: left;
    color: black;
}

.currencyCode {
    display: none;
}

.currencyLiteral::after {
    content: "$";
    margin-right: 1px;
}

.imageElementLink {
    display: flex;
    align-items: center;
    justify-content: center;
}