.filterIcon {
    color: var(--primary-color-focus) !important;
}

.filterTitleSpan {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .04px;
    text-transform: capitalize;
}

:global(.vtex-checkbox__label) {
    font-weight: lighter;
    font-size: 14px;
    color: #3f3f40;
    text-transform: uppercase;
}

:global(.vtex-slider-container) {
    width: 50%;
    margin: 1.4rem auto 0;
}

:global(.vtex-slider__selector) {
    width: 26px!important;
    height: 26px!important;
    background-color: var(--white-color);
    border: 3px solid var(--primary-color-focus);
}

:global(.vtex-slider__selector-container) {
    top: 0 !important;
}

:global(.vtex-slider__values-container) {
    justify-content: space-between;
    width: 165%;
    margin-left: -30px;
    margin-top: 10px;
}

:global(.vtex-slider__base-internal) {
    background-color: #313131;
    height: 2px!important;
}

.gallery--gallery__product {
    padding: 0;
}

:global(.vtex-button__label) {
    padding: 0;
}

.totalProducts--layout, .orderByButton, .filterPopupTitle  {
    text-transform: capitalize;
    padding: 0;
    color: var(--gray-color);
    font-size: 13px;
}

.orderBy--layout {
    display: flex;
    align-items: center;
}

.galleryItem--gallery__product--grid :global(.vtex-product-summary-2-x-element) {
    height: 440px !important;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 25rem;
    max-height: 100vh;
}

.filterBreadcrumbsItem {
    margin-left: 10px;
}

.filterTemplateOverflow {
    width: 90%;
}