.flexRowContent--home__section--one,
.flexRowContent--home__categories {
    max-width: 1280px;
    margin: 0 auto;
}

.flexRowContent--container__list--one,
.flexRowContent--container__list--two {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.flexColChild--list__one--item,
.flexColChild--list__two--item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flexRowContent--footer__desktop--section-one {
    background: #f7f7f7;
    border: 1px solid #ededed;
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.flexRowContent--logos__comerciales {
    width: 307px;
    display: flex;
    justify-content: space-around;
}

.flexColChild--visita {
    display: flex;
    align-items: center;
}

.flexColChild--derechos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flexRowContent--footer__desktop--section-fourth {
    align-items: center;
    display: flex;
    height: 58px;
    justify-content: space-between;
}

.flexCol--contactos {
    color: #414141;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    min-width: 430px !important;
}

.flexCol--contactos__content {
    margin-left: 10px;
}

.flexColChild--contactos__content {
    height: 41px !important;
    width: 397px !important;
}

.flexRowContent--footer__desktop--section-two {
    max-width: 97%;
    margin: auto;
}

.flexCol--newsletter {
    padding: 0 24px;
    min-width: 430px !important;
}

.flexColChild--newsletter {
    height: auto !important;
}

.flexRowContent--qr__container {
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgb(60 60 60 / 16%);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    pointer-events: none;
}

.flexCol--qr__networks {
    min-width: 430px !important;
    display: flex;
    align-items: center;
}

.flexColChild--qr__networks {
    width: 100% !important;
    padding-left: 102px !important;
}

.flexCol--networks__container {
    min-width: 320px;
}

.flexRowContent--retail__ecommerce,
.flexRowContent--400__productos,
.flexRowContent--compras__seguras,
.flexRowContent--acumula__puntos,
.flexRowContent--pago__linea {
    display: flex;
    justify-content: center;
}

.flexColChild--container__filter--department {
    height: auto !important;
}

.flexColChild--contactos :global(.vtex-rich-text-0-x-link) {
    color: black !important;
}

.flexRowContent--footer__desktop--section-three :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
}

.flexRowContent--trigger__centro--ayuda :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--trigger__exito--com :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--trigger__nuestra--compania :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--trigger__comunidad :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--trigger__informacion--legal :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--trigger__centro--ayuda,
.flexRowContent--trigger__exito--com,
.flexRowContent--trigger__nuestra--compania,
.flexRowContent--trigger__comunidad,
.flexRowContent--trigger__informacion--legal {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
}

.flexRow--trigger__desktop--titles {
    background-color: #f7f7f7;
    color: #4d5766;
    border: 1px solid #ededed;
    border-bottom: transparent;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: auto;
    justify-content: center;
    min-height: 67px;
    padding: 0 20px;
    width: 100%;
    align-items: center;
}

.flexRowContent--disclosure__desktop {
    background-color: #f7f7f7;
    color: #4d5766;
    padding: 0 20px;
    width: 100%;
}

.flexRowContent--disclosure__desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 15px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 30px;
    max-height: 500px;
    transition: max-height .25s ease-in;
}

.flexColChild--content__centro--ayuda,
.flexColChild--content__exito--com,
.flexColChild--content__nuestra--compania,
.flexColChild--content__comunidad,
.flexColChild--content__informacion--legal {
    height: auto !important;
}

.flexRowContent--trigger__desktop--mas-informacion {
    display: flex;
    justify-content: center;
    max-width: 175px;
    margin: auto;
    margin: auto;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    z-index: 2;
    background: #f7f7f7;
    border: 1px solid #ededed;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 20px;
    color: #000;
    transform: translateY(0px);
}

.flexRowContent--header__desktop {
    display: flex;
    align-items: center;
}

.flexRowContent--header__desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--trigger__desktop--mas-informacion :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--header__desktop--order :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--header__desktop--order {
    display: flex;
    align-items: center;
}

.flexRow--home__section-three {
    width: 95%;
    margin: auto;
}

.flexRowContent--home__section-fourth :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home__section-five :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--home__section-fourth,
.flexRowContent--home__section-five {
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}

.flexRowContent--home__section-fourth-1 {
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}

.flexRow--home__section-six,
.flexRow--home__section-six-1,
.flexRow--home__section-nine,
.flexRow--home__section-ten {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

.flexRowContent--hsection__six-1-images :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 49.5% !important;
}

.flexRowContent--hsection__six-1-images {
    display: flex;
    justify-content: space-between;
}

.flexRow--home__section-seven {
    width: 98%;
    margin: auto;
}

.flexRowContent--hsection__eight-images-1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--hsection__eight-images-2 :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--hsection__eight-images-3 :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--hsection__ten-images-2-1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexRowContent--hsection__ten-images-2-2 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--hsection__eight-images-1,
.flexRowContent--hsection__eight-images-2,
.flexRowContent--hsection__eight-images-3 {
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}

.flexRowContent--hsection__ten-images-1 {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    gap: 21px;
    margin: 0px auto;
    padding: 10px 0px;
}

.flexColChild--home__section-ten {
    padding: 5px;
    margin-top: 10px;
}

.flexRowContent--hsection__ten-images-2-1,
.flexRowContent--hsection__ten-images-2-2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.flexColChild--hsection__ten-images-2 {
    display: flex;
    align-items: flex-end;
    margin: 5px;
}

.flexRow--hsection__ten-images-2-1,
.flexRow--hsection__ten-images-2-2 {
    width: 100%;
    height: 100%;
}

.flexRow--hsection__ten-images-2-2 {
    display: flex;
    align-items: flex-end;
}

.flexCol--section__one--col-one {
    margin: 0;
    margin-right: 2px;
}

.flexColChild--home__sections {
    margin: 10px auto;
    width: 100%;
}

.flexRowContent--home__section--one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flexCol--section__one-image {
    margin: 0;
    margin-left: 2px;
}

.flexColChild--footer__mobile--section-three {
    display: flex;
    flex-direction: column;
}

.flexRowContent--centro__ayuda-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--exito__com-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--nuestra__compania-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--comunidad-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--informacion__legal-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    display: flex;
    align-items: center;
}

.flexRowContent--centro__ayuda-mobile,
.flexRowContent--exito__com-mobile,
.flexRowContent--nuestra__compania-mobile,
.flexRowContent--comunidad-mobile,
.flexRowContent--informacion__legal-mobile {
    display: flex;
    justify-content: space-between;
}

.flexColChild--footer__mobile--section-three {
    background-color: #f7f7f7;
    color: #4d5766;
    border: 1px solid #ededed;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: auto;
    justify-content: center;
    min-height: 67px;
    padding: 0 20px;
    width: 100%;
}

.flexColChild--visita__derechos {
    padding: 0 20px;
    width: 100%;
    padding-bottom: 20px;
}

.flexRowContent--logos__comerciales--mobile {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
    width: 100%;
}

.flexRowContent--ventas__telefonicas,
.flexRowContent--ventas__whatsapp,
.flexRowContent--servicio__whatsapp,
.flexRowContent--linea__nacional,
.flexRowContent--medellin,
.flexRowContent--resto__ciudades {
    display: flex;
}

.flexCol--contactos__content-mobile {
    margin-left: 10px;
}

.flexColChild--footer__mobile--section-two {
    max-width: 100%;
    padding: 0 12px;
}

.flexRowContent--email__submit {
    display: flex;
}

.flexRowContent--app__container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    align-items: center;
}

.flexRowContent--app__container {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgb(60 60 60 / 16%);
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
}

.flexRow--footer__mobile--section-three {
    margin-top: 50px;
    margin-bottom: 15px;
}

.flexRowContent--footer__mobile--section-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 20% !important;
}

.flexRowContent--footer__mobile--section-one {
    display: flex;
    align-items: flex-start;
    background: #f7f7f7;
    border: 1px solid #ededed;
    justify-content: space-around;
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

.flexRowContent--container__department,
.flexRowContent--bread {
    max-width: 97%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin: auto;
}

.flexRowContent--add__list-button :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--add__list-button {
    display: flex;
    justify-content: flex-end;
}

.flexColChild--card :global(.vtex-button),
.flexRowContent--card__list :global(.vtex-button) {
    height: 47px;
    outline: none;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #f78523;
    background-color: #f78523;
    margin-top: 10px;
}

.flexRowContent--bread__grid :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--cart {
    padding: 10px !important;
    max-width: 96%;
    width: 100%;
    min-height: 400px;
    margin: auto;
}

.flexRow--content__desktop {
    width: 100%;
    height: 110px !important;
}

.flexRowContent--content__desktop {
    width: 100% !important;
    height: 100% !important;
}

.flexRowContent--content__desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--content__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRowContent--content__desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    height: 100%;
}

.flexCol--product__name {
    font-size: 13px;
    color: #222;
    font-weight: 600;
    margin-bottom: 0;
    text-decoration: none;
}

.flexCol--summary__checkout {
    display: flex;
    justify-content: space-evenly;
}

.flexColChild--summary__checkout {
    height: auto !important;
}

.flexRowContent--total__switcher :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--total__switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px !important;
}

.flexRow--total__switcher {
    padding-left: 2rem;
    padding-right: 1rem;
    border-bottom: 0 solid #e5e5e5;
    margin-bottom: 1rem;
}

.flexRowContent--card :global(.vtex-product-summary-2-x-imageNormal) {
    width: 209px;
    height: 209px;
}

.flexRowContent--card__list :global(.vtex-product-summary-2-x-imageNormal) {
    width: 137px;
    height: 160px;
}

.galleryItem--gallery__product--list {
    border-bottom: 1px solid #e3e4e6;
}

.flexRowContent--card__list {
    display: flex;
    align-items: center;
}

.flexRowContent--brand__name :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
    margin-right: 10px;
}

.flexRow--card__list {
    border-bottom: 1px solid #e3e4e6;
}

.flexColChild--product__info--data {
    height: auto !important;
}

.flexColChild--product__info--data :global(.vtex-button) {
    background-color: #e26800 !important;
    border-color: #e26800 !important;
    color: #fff !important;
    border-radius: 15px;
}

.flexCol--product__breadcrumb {
    margin: auto;
    max-width: 97%;
}

.flexRow--custom__components--link {
    max-width: 93%;
    margin: auto;
    margin-top: 15px;
}

.flexRowContent--custom__components--link {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.flexRowContent--custom__components--link :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexRowContent--container__list--one,
.flexRowContent--container__list--two {
    flex-wrap: wrap;
}

.flexRowContent--home__section-three {
    display: flex;
}

.flexRowContent--home__section-fourth,
.flexRowContent--home__section-five,
.flexRowContent--home__section-seven,
.flexRowContent--hsection__eight-images-1,
.flexRowContent--hsection__eight-images-2,
.flexRowContent--hsection__eight-images-3,
.flexRowContent--hsection__nine-images-2 {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .flexRowContent--hsection__ten-images-1 {
        display: flex;
        flex-direction: column;
    }
}

.flexColChild--product__info--data {
    width: 97%;
}

.flexCol--product__info--data {
    display: flex;
    align-items: center;
}