.flexRowContent--home__section--one,
.flexRowContent--home__categories {
    max-width: 1280px;
    margin: 0 auto 30px;
}

.flexRowContent--container__list--one, .flexRowContent--container__list--two {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.flexColChild--list__one--item, .flexColChild--list__two--item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .stretchChildrenWidth {
    width: 100%;
} */