.menuContainerNav--home__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.menuContainer {
    max-height: 100% !important;
    width: 336px !important;
    min-width: 336px;
}

.submenuContainer {
    max-height: 100% !important;
    width: 790px !important;
}

.styledLinkText--home__menu:hover {
    text-decoration: underline;
}

.triggerContainer {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triggerContainer:hover {
    background: var(--white-color);
    width: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}